<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8' />
    <meta name= 'viewport' content = 'width = device-width' />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Note'd Storage - Success</title>
</head>
<body>
    <main>
        <p>
            Success
        </p>
        <p>
            Access has been granted to the application. Please wait for this window to close.
        </p>
        <input type="hidden" id="refresh-token" value="{{ refreshToken }}" />
        <input type="hidden" id="access-token" value="{{ accessToken }}" />
    </main>
    {{ encore_entry_script_tags('oauth-success') }}
</body>
</html>
