:root {
  --color-1: #2d2d2d;
  --color-2: #8ef2ff;
  --color-3: rgb(255, 198, 112);
  --color-4: rgb(247, 44, 37);
  --color-5: rgb(45, 30, 47);
  --error-red: var(--color-4);
  --page-background: var(--color-1);
  --footer-background: var(--color-3);
  --footer-font-color: black;
}
