#password {
  width: calc(100% - 40px);
}

.toggle-password-visibility {
  border: solid 1px var(--color-3);
  border-radius: 0.3em;
  background: none;
  color: var(--color-3);

  &:hover, &:focus {
    background: #ffffff80;
  }
}
